<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.mapper.ShopProcessMapper" >
  <resultMap id="BaseResultMap" type="cn.ssm.po.ShopProcess" >
    <id column="process_id" property="processId" jdbcType="INTEGER" />
    <result column="client_material_no" property="clientMaterialNo" jdbcType="VARCHAR" />
    <result column="material_no" property="materialNo" jdbcType="VARCHAR" />
    <result column="shop" property="shop" jdbcType="VARCHAR" />
    <result column="mold_no" property="moldNo" jdbcType="VARCHAR" />
    <result column="process" property="process" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    process_id, client_material_no, material_no, shop, mold_no, process, price, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_process
    where process_id = #{processId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_process
    where process_id = #{processId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ssm.po.ShopProcess" >
    insert into shop_process (process_id, client_material_no, material_no, 
      shop, mold_no, process, 
      price, remark)
    values (#{processId,jdbcType=INTEGER}, #{clientMaterialNo,jdbcType=VARCHAR}, #{materialNo,jdbcType=VARCHAR}, 
      #{shop,jdbcType=VARCHAR}, #{moldNo,jdbcType=VARCHAR}, #{process,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ssm.po.ShopProcess" >
    insert into shop_process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="processId != null" >
        process_id,
      </if>
      <if test="clientMaterialNo != null" >
        client_material_no,
      </if>
      <if test="materialNo != null" >
        material_no,
      </if>
      <if test="shop != null" >
        shop,
      </if>
      <if test="moldNo != null" >
        mold_no,
      </if>
      <if test="process != null" >
        process,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="processId != null" >
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="clientMaterialNo != null" >
        #{clientMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null" >
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="shop != null" >
        #{shop,jdbcType=VARCHAR},
      </if>
      <if test="moldNo != null" >
        #{moldNo,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ssm.po.ShopProcess" >
    update shop_process
    <set >
      <if test="clientMaterialNo != null" >
        client_material_no = #{clientMaterialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialNo != null" >
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="shop != null" >
        shop = #{shop,jdbcType=VARCHAR},
      </if>
      <if test="moldNo != null" >
        mold_no = #{moldNo,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where process_id = #{processId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ssm.po.ShopProcess" >
    update shop_process
    set client_material_no = #{clientMaterialNo,jdbcType=VARCHAR},
      material_no = #{materialNo,jdbcType=VARCHAR},
      shop = #{shop,jdbcType=VARCHAR},
      mold_no = #{moldNo,jdbcType=VARCHAR},
      process = #{process,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where process_id = #{processId,jdbcType=INTEGER}
  </update>
  
   <!--添加的部分  根据物料号和客户物料号删除-->
    <delete id="deleteShopProcess" >
    delete from shop_process
    where client_material_no like'%${clientMaterialNo}%'
        AND  material_no = #{material_no}
  </delete>
  
  <!-- 添加的部分：根据客户物料号和物料号查询-->
  <select id="selectByParam" resultMap="BaseResultMap">
  select * from
     shop_process 
    where client_material_no like'%${clientMaterialNo}%'
        AND  material_no = #{material_no}
  </select>
  
   <select id="selectProcess" resultType="string" >
  	select process from shop_process sp where 
  	sp.material_no=#{materialNo} and sp.shop=#{shopName} and sp.client_material_no like'%${clientMaterialNo}%' 
  </select>
</mapper>